/* show content below sticky header */
body {
  overflow: hidden;
}


/* image element on left of p element */
.author-image {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30%;
  border-radius: 5px;
}

.author-container p {
  text-align: center;
}

.cs-sticky-page {
  max-height: calc(100vh - 130px);
  /* Adjust the height (130px) based on your sticky header's height */
  overflow-y: scroll;
  /* Enable vertical scrolling*/
  padding-top: 0px;
  margin: 30px 0px;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}

.cs-sticky-language-feature {
  max-height: calc(100vh - 130px);
  /* Adjust the height (130px) based on your sticky header's height */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  padding-top: 0px;
  margin: 30px 50px;
  height: auto;
}

.version {
  margin: 10px;
  font-size: 1.1em;
  color: lightblue;
  margin-top: 1em;
}

/* make header sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* style title in header to be centered */
/* .masthead-title {
  text-align: center;
} */

.center-image {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}