/* show content below sticky header */
body {
  overflow: hidden;
}

.post-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin: 10px;
}

@media (max-width: 768px) {
  .post-wrapper {
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .post-wrapper {
    margin: 30px;
  }
}

.post-image {
  flex: 0 0 auto;
  margin-right: 20px;
}

.post-text {
  flex: 1 1 auto;
  text-align: left;
}

.first-image {
  max-width: 90%;
  max-height: 250px;
  margin: 0;
  display: block;
  border-radius: 40px;
  float: right;
}

.post-item-container {
  margin-bottom: 15px;
  padding: 10px;
  text-align: left;
}

.post-item-container img {
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}

.post-item-text h2 {
  margin: 0;
}

.post-item-text .post-meta {
  font-size: 0.9em;
  color: #666;
}

.post-list {
  list-style-type: none;
  padding: 10px;
  text-align: left;
}

.list-image {
  max-width: 25%;
  max-height: 75px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;

}

@media (max-width: 768px) {
  .post-wrapper {
    flex-direction: column;
  }

  .post-image {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.post-line {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* image element on left of p element */
.author-image {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30%;
  border-radius: 5px;
}

.author-container p {
  text-align: center;
}

.cs-sticky-page {
  max-height: calc(100vh - 130px);
  /* Adjust the height (130px) based on your sticky header's height */
  overflow-y: scroll;
  /* Enable vertical scrolling*/
  padding-top: 0px;
  margin: 30px 0px;
  padding-left: 15%;
  padding-right: 15%;
  height: auto;
}

.cs-sticky-language-feature {
  max-height: calc(100vh - 130px);
  /* Adjust the height (130px) based on your sticky header's height */
  overflow-y: scroll;
  /* Enable vertical scrolling */
  padding-top: 0px;
  margin: 30px 50px;
  height: auto;
}

.version {
  margin: 10px;
  font-size: 1.1em;
  color: lightblue;
  margin-top: 1em;
}

/* make header sticky */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* style title in header to be centered */
/* .masthead-title {
  text-align: center;
} */

/* style center-image to use 80% of the width of the page for small devices */
@media (max-width: 768px) {
  .center-image {
    width: 75% !important;
  }
}

.center-image {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 40px;
}