/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  margin-bottom: 15px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  color: blue;
  background-color: white;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

.social-media-list .icon {
  padding-right: 5px;
}
.social-media-list li + li {
  padding-top: 5px;
}

.footer-heading > a:visited {
  color: black;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

.main-header {
  background: linear-gradient(#3F94BF, #246485);
  padding: 5px;
  text-align: center;
  color: white;
  text-shadow: #222 0px -1px 1px;
  position: fixed;
  width: 100%;
  left: 0;
  transition: all 0.2s ease;
}
.main-header a {
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-size: 32px;
}

.page-wrap {
  float: right;
  width: 30px;
  transition: width 0.3s ease;
  border: 1px solid #e8e8e8;
}

.main-nav {
  float: left;
  position: fixed;
  width: 0;
  overflow-y: auto;
  transition: width 0.3s ease;
}
.main-nav a {
  display: block;
  border-top: 1px solid #AFAFAF;
  border-bottom: 1px solid #AFAFAF;
}
.main-nav:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 34px;
}

.close-menu {
  display: none;
}

.open-menu {
  display: block;
  margin: 5px 5px 0px 5px;
}

@media screen and (min-width: 520px) {
  .sideBar {
    width: 30%;
  }
  #main-nav {
    width: 30%;
    height: 80%;
    visibility: visible;
  }
  .main-nav a {
    padding: 2px;
  }
  #main-nav > ul > li > label {
    padding: 2px;
    background-color: #F7F7F7;
  }
  #main-nav > ul > li > label:hover {
    color: #111;
    text-decoration: underline;
  }
  .close-menu {
    visibility: hidden;
  }
  .open-menu {
    visibility: hidden;
  }
}
@media screen and (max-width: 519px) {
  .sideBar {
    width: 30px;
  }
  #main-nav {
    width: 30px;
    padding: 20px;
    visibility: hidden;
    height: 90%;
  }
  .main-nav a {
    padding: 0px;
  }
  .main-nav a {
    padding: 15px;
  }
  #main-nav > ul > li > label {
    padding: 15px;
    background-color: #F7F7F7;
  }
  .close-menu {
    visibility: visible;
  }
  .open-menu {
    visibility: visible;
  }
}
#main-nav:target {
  width: 90%;
  visibility: visible;
}

#main-nav:target + .page-wrap {
  width: 90%;
}
#main-nav:target + .page-wrap .close-menu {
  left: 0;
  position: fixed;
  display: block;
  margin: 5px 5px 0px 5px;
}
#main-nav:target + .page-wrap .open-menu {
  display: none;
}
#main-nav:target + .page-wrap .main-header {
  width: 80%;
  left: 20%;
}

.fa {
  display: inline !important;
}

.center-image {
  max-width: 400px;
  width: 50%;
  margin: 0 auto;
  display: block;
  border-radius: 5px;
}

@media screen and (max-width: 520px) {
  .center-image {
    width: 100%;
  }
}
/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 54px;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for=nav-trigger] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - 30px / 2);
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - 30px / 2);
}

@media screen and (max-width: 800px) {
  .footer-col-1 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - 30px / 2);
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - 30px / 2);
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: hidden;
}

code {
  font-family: "Bitstream Vera Sans Mono", "Courier", monospace;
}

.highlight .c {
  color: green;
} /* Comment */
.highlight .err {
  color: #93A1A1;
} /* Error */
.highlight .g {
  color: #93A1A1;
} /* Generic */
.highlight .k {
  color: blue;
} /* Keyword */
.highlight .l {
  color: #93A1A1;
} /* Literal */
.highlight .n {
  color: #268BD2;
} /* Name */
.highlight .o {
  color: #859900;
} /* Operator */
.highlight .x {
  color: #CB4B16;
} /* Other */
.highlight .p {
  color: #93A1A1;
} /* Punctuation */
.highlight .cm {
  color: green;
} /* Comment.Multiline */
.highlight .cp {
  color: #859900;
} /* Comment.Preproc */
.highlight .c1 {
  color: green;
} /* Comment.Single */
.highlight .cs {
  color: #859900;
} /* Comment.Special */
.highlight .gd {
  color: #2AA198;
} /* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #DC322F;
} /* Generic.Error */
.highlight .gh {
  color: #CB4B16;
} /* Generic.Heading */
.highlight .gi {
  color: #859900;
} /* Generic.Inserted */
.highlight .go {
  color: #93A1A1;
} /* Generic.Output */
.highlight .gp {
  color: #93A1A1;
} /* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #CB4B16;
} /* Generic.Subheading */
.highlight .gt {
  color: #93A1A1;
} /* Generic.Traceback */
.highlight .kc {
  color: #CB4B16;
} /* Keyword.Constant */
.highlight .kd {
  color: #268BD2;
} /* Keyword.Declaration */
.highlight .kn {
  color: #859900;
} /* Keyword.Namespace */
.highlight .kp {
  color: #859900;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2;
} /* Keyword.Reserved */
.highlight .kt {
  color: blue;
} /* Keyword.Type */
.highlight .ld {
  color: #93A1A1;
} /* Literal.Date */
.highlight .m {
  color: #2AA198;
} /* Literal.Number */
.highlight .s {
  color: #2AA198;
} /* Literal.String */
.highlight .na {
  color: #93A1A1;
} /* Name.Attribute */
.highlight .nb {
  color: #B58900;
} /* Name.Builtin */
.highlight .nc {
  color: #268BD2;
} /* Name.Class */
.highlight .no {
  color: #CB4B16;
} /* Name.Constant */
.highlight .nd {
  color: #268BD2;
} /* Name.Decorator */
.highlight .ni {
  color: #CB4B16;
} /* Name.Entity */
.highlight .ne {
  color: #CB4B16;
} /* Name.Exception */
.highlight .nf {
  color: black;
} /* Name.Function */
.highlight .nl {
  color: #93A1A1;
} /* Name.Label */
.highlight .nn {
  color: #93A1A1;
} /* Name.Namespace */
.highlight .nx {
  color: #555;
} /* Name.Other */
.highlight .py {
  color: #93A1A1;
} /* Name.Property */
.highlight .nt {
  color: #268BD2;
} /* Name.Tag */
.highlight .nv {
  color: #268BD2;
} /* Name.Variable */
.highlight .ow {
  color: #859900;
} /* Operator.Word */
.highlight .w {
  color: #93A1A1;
} /* Text.Whitespace */
.highlight .mf {
  color: #2AA198;
} /* Literal.Number.Float */
.highlight .mh {
  color: #2AA198;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #586E75;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198;
} /* Literal.String.Char */
.highlight .sd {
  color: #93A1A1;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198;
} /* Literal.String.Double */
.highlight .se {
  color: #CB4B16;
} /* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198;
} /* Literal.String.Other */
.highlight .sr {
  color: #DC322F;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198;
} /* Literal.String.Single */
.highlight .ss {
  color: #2AA198;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2;
} /* Name.Variable.Class */
.highlight .vg {
  color: #268BD2;
} /* Name.Variable.Global */
.highlight .vi {
  color: #268BD2;
} /* Name.Variable.Instance */
.highlight .il {
  color: #2AA198;
} /* Literal.Number.Integer.Long */
/* remove bullets from list */
.content li {
  list-style-type: none;
}

li a {
  display: block;
  color: #000;
  padding: 0px 0px;
  text-decoration: none;
}

li a.active {
  background-color: #268BD2;
  color: white;
}

li a:hover:not(.active) {
  background-color: #F7F7F7;
  color: F5F5F5;
}

.container {
  margin-top: -50px;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sideBar {
  float: left;
  margin: 5px 5px 0px 5px;
  padding-right: 10px;
  overflow: hidden;
}

.content {
  margin: 10px 5px 0px 5px;
  overflow: hidden;
}

/* Collapsable menu without js
--------------------------------------------- */
nav a:before {
  content: " ";
  margin-left: -0.5em;
  padding-left: 1em;
  white-space: pre;
}

.toggle, [id^=drop] {
  display: none;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#logo {
  display: block;
  padding: 0 30px;
  float: left;
  font-size: 20px;
  line-height: 60px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  margin: 0px;
  display: inline-block;
  float: left;
  background-color: #ffffff;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #2a7ae2;
  text-decoration: none;
}

nav ul li ul li:hover {
  background: #000000;
}

nav a:hover {
  background-color: #000000;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

li > a:after {
  content: " +";
}

li > a:only-child:after {
  content: "";
}

/* Media Queries
--------------------------------------------- */
@media all {
  #logo {
    display: block;
    padding: 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  nav {
    margin: 0;
  }
  .toggle + a,
  .menu {
    display: none;
    visibility: hidden;
  }
  .toggle {
    display: block;
    /* background-color: #ffffff; */
    padding: 0 20px;
    color: #000000;
    text-decoration: none;
    border: none;
  }
  .toggle:hover {
    background-color: #ffffff;
  }
  [id^=drop]:checked + ul {
    display: block;
  }
  nav ul li {
    display: block;
    width: 100%;
  }
  nav ul ul .toggle,
  nav ul ul a {
    padding: 0 40px;
  }
  nav ul ul ul a {
    padding: 0 80px;
  }
  nav a:hover,
  nav ul ul ul a {
    background-color: #1756a9;
  }
  nav ul li ul li .toggle,
  nav ul ul a {
    background-color: #ffffff;
  }
  nav ul ul {
    float: none;
    position: static;
    color: #2a7ae2;
  }
  nav ul ul li:hover > ul,
  nav ul li:hover > ul {
    display: none;
  }
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul ul li {
    position: static;
  }
}
@media all and (max-width: 330px) {
  nav ul li {
    display: block;
    width: 94%;
  }
}

/*# sourceMappingURL=main.css.map */